langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
onnxruntime==1.17.0
pypdf
python-dotenv
pandas
openpyxl
jq
matplotlib
langchain_huggingface
sentence-transformers